# macOS specific
.DS_Store

# Python & Flask caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Local SQLite databases
#*.db
#*.sqlite3

# Ignore everything inside the images folder
static/images/*

!static/images/.gitkeep