@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;600;700&family=JetBrains+Mono&display=swap');

body {
    font-family:'Hanken Grotesk',sans-serif;
    background-color:#F9F9F9;
}

/*forest green col */
.text-brand {
    color:#205A27;
}

.bg-brand {
    background-color:#205A27;
}

.btn-brand {
    background-color:#205A27;
    color:white;
    border: 1px solid #205A27;
}

.btn-brand:hover {
    background-color:#17421c;
    color:white;
}

.shadow-soft {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

/* auth page(log/reg) */
.auth-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-image:url('/static/images/mountain.avif');
    background-size:cover;
    background-position: center;
}

.auth-card {
    width: 100%;
    max-width: 450px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding:3rem;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(500px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}


.auth-input {
    background-color: #F8F9FA;
    border:none;
    border-radius:8px;
    padding: 12px 16px;
    width: 100%;
}