{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="text-center mb-5 mt-4">
        <h1 class="display-5 fw-bold text-success">Find Your Next Adventure</h1>
        <p class="lead text-muted">Browse and book the most breathtaking adventures in the world!</p>

        <!--search bar-->
        <div class="card bg-light border-0 shadow-sm mb-5">
            <div class="card-body">
                <form action="/" method="GET" class="row g-2 align-items-end">
                    <div class="col-md-5">
                        <label class="form-label small fw-bold">Search by location</label>
                        <input type="text" name="location" class="form-control" placeholder="Himalaya , Bangalore...">
                    </div>
                    <div class="col-md-5">
                        <label class="form-label small fw-bold">
                            Filter by Difficulty
                        </label>
                        <select name="difficulty" class="form-select">
                            <option value="">Any Difficulty</option>
                            <option value="Easy">Easy</option>
                            <option value="Moderate">Moderate</option>
                            <option value="Hard">Hard</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary w-100 fw-bold">
                            Search
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!--trek grid-->
        {% for trek in available_treks %}
        <div class="col">
            <div class="card h-100 shadow-sm border-0">

                <div
                    style="height:200px ; background-color: #e9ecef ; display:flex ; align-items:center ; justify-content:center ; border-radius: 5px 5px 0 0;">
                    <span class="text-muted">
                        <i class="bi bi-image"></i>
                        Trek Image
                    </span>
                </div>
                <div class="card body">
                    <h5 class="card-title text-success fw-bold">{{ trek.name }}</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ trek.location }}</h6>
                    <ul class="list-group list-group-flush mb-4 small">
                        <li class="list-group-item px-0"><b>Difficulty:</b> {{ trek.difficulty }}</li>
                        <li class="list-group-item px-0"><b>Duration:</b> {{ trek.duration_days }} Days</li>
                        <li class="list-group-item px-0"><b>Starts:</b> {{ trek.start_date.strftime('%d %b %Y') }}</li>
                        <li class="list-group-item px-0">
                            <b>Slots Left:</b>
                            <span class="badge bg-primary rounded-pill">{{ trek.available_slots }}</span>
                        </li>
                    </ul>

                    <!--logic button-->
                    {% if not current_user.is_authenticated %}
                    <a href="/login" class="btn btn-outline-primary w-100">Login to Book</a>
                    {% elif current_user.role!='trekker' %}
                    <button class="btn btn-secondary w-100" disabled>Trekkers Only</button>
                    {% elif trek.id in my_booked_trek_ids %}
                    <button class="btn btn-secondary w-100" disabled>Already Booked</button>
                    {% else %}
                    <a href="/book_trek/{{ trek.id }}" class="btn btn-success w-100 fw-bold">
                        Book Now
                    </a>
                    {% endif %}

                </div>
            </div>
        </div>

        {% else %}
        <div class="col-12 text-center py-5">
            <p class="text-muted fs-5">
                No Treks found matching your criteria.
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}